<!DOCTYPE HTML>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="css/main.css"/>
</head>
<body>

	<!-- <a href="http://stackoverflow.com/users/1512836/vishwa-patel">
		My StackOverflow Profile
	</a>
	<form class="well">
		<label>Username</label>
		<input type="text" class="span3" placeholder="Enter username here"/><br/>
		<label>Password</label>
		<input type="text" class="span3" placeholder="Enter password here"/><br/>
		<button class="btn btn-primary">Submit</button>
	</form> -->
	
	<h1 style="font-size: 40px; margin: 50px";>THIS WEBSITE IS UNDER CONSTRUCTION. </h1>
	<h2 style="font-size: 40px; margin: 50px";>COME BACK SOON, </h2>
	<h3 style="font-size: 40px; margin: 50px";>VISHWA PATEL </h3>
	
	<!-- <%= link_to "**Extra Credit scaffold** Create a new pledge", "/pledges"%> -->
</body>
</html>