<!DOCTYPE HTML>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>

	<a href="http://stackoverflow.com/users/1512836/vishwa-patel">
		My StackOverflow Profile
	</a>
	<form class="well">
		<label>Username</label>
		<input type="text" class="span3" placeholder="Enter username here"/><br/>
		<label>Password</label>
		<input type="text" class="span3" placeholder="Enter password here"/><br/>
		<button class="btn btn-primary">Submit</button>
	</form>
	<%= link_to "Create a new pledge", "/pledges"%>
</body>
</html>