<!DOCTYPE HTML>
<html>
<head>
	
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	
</head>
<body>

	<h1> VISHWA PATEL </h1>
	<h2> developer, actor, sophmore
 	<!-- <a href="http://stackoverflow.com/users/1512836/vishwa-patel">
		My StackOverflow Profile
	</a>
	<form class="well">
		<label>Username</label>
		<input type="text" class="span3" placeholder="Enter username here"/><br/>
		<label>Password</label>
		<input type="text" class="span3" placeholder="Enter password here"/><br/>
		<button class="btn btn-primary">Submit</button>
	</form> -->
	
	<!-- <div id="bg">
		<img src="css/Mount_Everest.jpg" alt="">
	</div> -->
	
	<!-- <img src="css/Mount_Everest.jpg" class="bg"/>
		 -->
	<!-- <h1>THIS WEBSITE IS UNDER CONSTRUCTION. </h1>
	<h2>COME BACK SOON, </h2>
	<h3>VISHWA PATEL </h3> -->
	
	<!-- <%= link_to "**Extra Credit scaffold** Create a new pledge", "/pledges"%> -->
</body>
</html>